.bg-bd {
    background: #e5e5e5;
}

.bg-purple {
    background: #562eff;
}

.bg-section {
    background: #ffffff;
}

.text-purple {
    color: #562eff;
}

.text-tomato {
    color: #ed6b4f;
}

.text-star {
    color: #ffc014;
}

a {
    text-decoration: none;
}
