.bg-bd {
    background: #E5E5E5;
}

.bg-purple {
    background: #562EFF;
}

.bg-section {
    background: #FFFFFF;
}

.text-purple {
    color: #562EFF;
}

.text-tomato {
    color: #ED6B4F;

}

.text-star {
    color: #FFC014;
}

a {
    text-decoration: none;
}